name: Generate pacman animation

on:
  schedule: # executa a cada 12 horas no minuto zero
    - cron: "0 */12 * * *"
  workflow_dispatch: # permite rodar manualmente
  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # 1. Faz o checkout do repositório (Muito importante!)
      - uses: actions/checkout@v3

      # 2. Gera o gráfico do Pacman
      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # 3. Envia os arquivos gerados (que ficam na pasta dist) para a branch output
      - name: push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
